
.video-container .responsive-video {
  width: 100%;
  height: auto; /* Für ein responsives Video */
}
.my-card {
  max-width: 300px;
  width: 100%;
  margin: auto;
  margin-bottom: 2em;
}
.card-image {
  height: 150px;
  object-fit: cover;
}
